form.avatar{
    width: 55px;
    margin-bottom: 15px;
}

form.containe-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

form.containe-avatar img{
    height: 100%;
}